* {
  margin: 0;
  padding: 0;
}
body { 
    height: 100%;
    color: #11350F;
    padding: 0; 
    margin: 0;
    font-family: "Trebuchet MS", "Times New Roman", serif;
    font-size: 16px;
    box-sizing: border-box;
    position: static;
}
 
 h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #F1F7EE;
}

header { 
    color:  #11350F;  
    font-size: 18px;
    position: relative;
}

header h1, header h2, header h3 {
     color:  #11350F;  
}


.header .telephone, .header address {
  display: block;
}

.info {
    position: absolute;
    right: 60px;
    top: 0;
    color: #11350F;
}

.info.telephone {
    font-size: 28px;
    font-weight: bold;    
}

.info address {
    font-size: 20px;
    font-weight: normal;
}

.info .phone {
    display: block !important; 
    line-height: 28px;
    margin: 5px;
}

.info  .mdi {
    padding-right: 6px;
}

header .logo {
    display: block;
    margin: 5px auto; 
    height: 288px;
    width: 287px;

}

.logo img {
    height: 320px;
    width: 320px;
      position: relative;
    left: -7%;
}

header h1 {
    visibility: hidden;
    height: 0;
}
  

/* Footer area */


/*Hero area*/ 
.row {
    margin-left: 0;
    margin-right: 0;
}

.visualisation {
   
    padding: 20px;
    padding-bottom: 28px;
    background: rgba(0,0,0,0.5);
    width: 100%;
}

.go-registration { 
    display: block;
}
 

label {
    font-size: 94%;
    position: relative;
    top: 4px;
}
 

.visualisation  input {
   border-radius: 1px;
   -webkit-border-radius: 1px;
   color: #4f0009;
}

.center {
    margin: 0;  
    margin: auto;
    text-align: center;     
    display: block; 
}

.go-registration {
    min-width: 100%;
}
 
.visualisation .form-group {
    max-width: 700px;
    margin: 20px auto;
}

.adv {
    font-size: 180%; 
    letter-spacing: 1px;
    font-weight: normal;
    line-height: 36px;
    margin: 0;
}

.adv2 {
    font-size: 210%; 
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 36px;
    margin-bottom: 20px;
}

.center .phone {
    font-weight: bold;
    color: #f7d67b; 
    letter-spacing: 2px;
    font-family: Tahoma, serif;
    font-weight: normal; 
}

button {
     font-family: Arial, sans-serif;
}

.digit {
    position: relative;
    top: -4px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}

 .submit { 
    background:  url(../img/button.png) 0 0 no-repeat;
    color: transparent; 
    position: relative;  
    width: 361px;
    height: 72px;
    border: 0;
 }

.submit span {
    visibility: hidden;
}
 
.submit:active,  .submit:focus {
    margin-top: 1.5px;
}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #4f0009 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #4f0009 !important;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #4f0009 !important;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #4f0009 !important;
}


 
.wrapper {
  display: table; 
  width: 100%;
  height: 100%;
  background: lightblue url(../img/visual.png) 0 0 no-repeat;
    background-size: cover;
    background-position: top; 

}

html,
body {
  height: 100%;
}
 
.content {
  display: table-row;
  height: 100%;
  min-height: 800px;
  width: 100%;
}

@media  (max-width: 1240px) { 
  
   header .logo   {
        margin-top: 150px;
       
   }

    header .logo  img, 
    header .logo  {
        height: 380px;
        width: 380px; 
    }    

   header .logo  img {
    left: 0;
   }
    .content {
        height: 150px;
    }

   .form-group .col-md-4 {
        margin: 14px auto;
    } 
}

@media  (max-width: 980px) {
    
}



@media  (max-width: 640px) {
   .form-group .col-md-4 {
        margin: 14px auto;
    }
  
}
