body
{
    font-family: "Georgia", "Times New Roman", serif;
    font-size: 14px;
    box-sizing: border-box;
}

header {
    height: 200px;
    padding: 0 20px;
    color:  #f7d67b;
    background: #052108;
}

header .logo, header .logo img {
    display: inline-block;
    height: 200px;
    margin: 0;
}

header .info {
    display: inline-block;
    text-align: center;
    margin: 4% auto 1%;
    margin-left: -5%;
}

header h1, header address {
    display: inline;
}

header h1 {
    font-size: 300%;
}

address {
    font-size: 200%;
    font-style: normal;
}


/*Hero area*/



.row {
    margin-left: 0;
    margin-right: 0;
}

.go-registration {
    height: 120px;
    position: absolute;
    bottom: 0;
    padding: 20px;
    background: rgba(0,0,0,0.5);
    display: block;
}
.adv-wrap {
    background: rgba(0,0,0,0.2);
}

label {
    font-size: 94%;
    position: relative;
    top: 4px;
}

.visualisation {
    position: relative;
    background:  url(../img/visual.png) 0 0 no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 520px;
    color:  #f7d67b;
    padding: 0;
    
}
.lbl-mobile {

}

.visualisation  input {
   border-radius: 1px;
   -webkit-border-radius: 1px;
}

.center {
    margin: 0;
    padding: 15px 0 9px 0 ;
    font-size: 216%;
    margin: auto;
    text-align: center;     
    display: block; 
}

.go-registration {
    min-width: 100%;
}

.center.adv {
    font-size: 240%;
    
}
.center .phone {
    font-weight: bold;
    color: #f7d67b; 
    letter-spacing: 2px;
    font-family: Tahoma, serif;
    font-weight: normal; 
}

button {
     font-family: Arial, sans-serif;
}

.digit {
    position: relative;
    top: -4px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}

 .form-control.submit {
     background: rgba(243,226,199,1);
    background: -moz-linear-gradient(top, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 75%, rgba(182,141,76,1) 99%, rgba(233,212,179,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(243,226,199,1)), color-stop(75%, rgba(193,158,103,1)), color-stop(99%, rgba(182,141,76,1)), color-stop(100%, rgba(233,212,179,1)));
    background: -webkit-linear-gradient(top, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 75%, rgba(182,141,76,1) 99%, rgba(233,212,179,1) 100%);
    background: -o-linear-gradient(top, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 75%, rgba(182,141,76,1) 99%, rgba(233,212,179,1) 100%);
    background: -ms-linear-gradient(top, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 75%, rgba(182,141,76,1) 99%, rgba(233,212,179,1) 100%);
    /*background:  #f7d67b; #f7d67b;*/
    color: #fff;
    padding: 12px 10px;
    border: 1px solid rgba(233,212,179,1);
    font-weight: bold; 
    font-size: 140%;
    letter-spacing: 1px;
     height: auto;
     width: 90%;
     position: relative;
     top: -10px;
}

.form-control.submit:active,  .form-control.submit:focus {
    margin-top: 1.5px;
}
 
/*Main colors*/

@media (min-width: 758px) and (max-width: 1000px){
    .go-registration{
            bottom: 160px;
    }
     .form-control.submit {
        width: 100%;
        margin-top: 20px;
        position: static;
    }
}

@media (max-width: 768px){
    header, .logo {
        vertical-align: top;
    } 
    .info {
        width: 50%;
        margin-left: 0;
        font-size: 80%;
    }
    .form-group {
        position: relative;
        bottom: 90px;
    }
    
    .form-control.submit {
        width: 100%;
        margin-top: 20px;
        position: static;
    }
}
 

@media (max-width: 380px){
    header {
        height:210px;
    }
    
    header .logo, header .logo img {
        display: block; 
        margin: 10px auto;
    }
}